/* Light mode */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
#content {
     margin-left: 20px;
}

#1{
   width: 100px;
}
	
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #0800ff;
}

.button2:hover {
  background-color: #007bff;
  color: white;
}


.user {
    padding-top: 15px;
    padding-left: 1px;
}

.date{
    padding-left: 1px;
}

.post{
    padding-bottom: 25px; 
    padding-left: 5px;
    border: 1px solid #4CAF50;
	
}

.subject{
    border-bottom: 1px solid #4CAF50 
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px 14px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.hide{
	display: none;
}


.post:hover .comment-btn {
    display: block;
}

.post:hover .comment-form {
    display: block;
}

.bigger{
	font-size: 47px;
}


.my-navbar {
      background-color: black; 

    }
#amastyle{
	background-color: #555555;
	color:white;
}

#txtb {
  background-color: #555555;
}

a:link,
a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  border-color: white;
  color:black;
}


.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
}


.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

#menuS{
	font-size:30px;
	color:white;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.padding1{
	padding: 250px;
}
.padding2{
	padding: 200px;
}
.padding3{
	padding: 100px;
}

#pics{
	width:300px;
	height:300px;
}

.butcart {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  width: 200px;
}

.butcart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.column1 {
  float: left;
  width: 20%;
  padding: 5px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
}

.1x2p{
	width:1000px;
	height:2000px;

}


#checkout{
    background-color:grey;
    border-radius: 25px;
}
#cartnum{
    color: white;
}

