{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<p id="abt"> Welcome to Amazone! We are the<i> zone </i>for anything you could ever want. We stock items ranging from completely impractical (like our fish shoes) to very practical (like our non-stick gluestick).
<br><br>Here at Amazone, we are commited to delivering high quality products to our customers. We offer a 0% refund policy; If a product doesn't meet your expectations feel free to bring it to one of our stores to recieve absolutely nothing!
<br><br>Amazone is a carbon positive company. We love carbon! &lt3
<br><br>
<img id="yipee" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c4c4.png" alt="Thumbs Up" >

</p>
{% endblock %}