{% extends "layout.html" %}

{% block title %}Air{% endblock %}
{% block content %}
	<h3>A jar of expired air freshener-100% Organic</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://www.greatpacificpackaging.com/image/cache/catalog/product/6-oz-glass-jar-smooth-black-lid-1000x1000.jpg" alt="air 1" onmouseover="changeImage(event, 'https://www.greatpacificpackaging.com/image/cache/catalog/product/6-oz-glass-jar-smooth-black-lid-1000x1000.jpg')">
			<img id="thumbnail2" class="thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX5+fKLorxBAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="air 2" onmouseover="changeImage(event, 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX5+fKLorxBAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://www.greatpacificpackaging.com/image/cache/catalog/product/6-oz-glass-jar-smooth-black-lid-1000x1000.jpg" alt="air main">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$1.99</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<hr class="thicker-hr">
			<h3>Size:</h3>
			<button type="button" class="btn btn-outline-primary" id="myButton1">small</button>
			<button type="button" class="btn btn-outline-primary" id="myButton2">medium</button>
			<button type="button" class="btn btn-outline-primary" id="myButton3">big</button>
			<hr class="thicker-hr">
			<ul class="circle">
				<li>Fresh air for people who never leave their room</li>
				<li>boost your mood, lower your heart rate, increase energy levels and even improve digestion</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$1.99</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 2-3 days</h3>
				</div>
				<div class="prop3">
					<button class="butcart">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
