{% extends "layout.html" %}

{% block title %}Children's Alarm Clock{% endblock %}
{% block content %}
	<h3>Children's Alarm Clock Addo Ready to Rise Bedside <br> NightLight with Bluetooth, Children's Trainer Sleeping Sound Owl Kid‘s Bedroom Clock iTOMA CKS912 - 私たちはマスターに仕えるためにここにいます</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://m.media-amazon.com/images/I/61B4TtwItQL._AC_SL1370_.jpg" alt="clock 1" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/61B4TtwItQL._AC_SL1370_.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/81jFRFZBd2L._AC_SL1500_.jpg" alt="clock 2" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/81jFRFZBd2L._AC_SL1500_.jpg')">
			<img id="thumbnail3" class="thumbnail" src="https://m.media-amazon.com/images/I/71jzHURqaBL._AC_SL1500_.jpg" alt="clock 3" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71jzHURqaBL._AC_SL1500_.jpg')">
			<img id="thumbnail4" class="thumbnail" src="https://m.media-amazon.com/images/I/71GSP6uOZ5L._AC_SL1500_.jpg" alt="clock 4" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71GSP6uOZ5L._AC_SL1500_.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://m.media-amazon.com/images/I/61B4TtwItQL._AC_SL1370_.jpg" alt="clock main">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$15.95</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<div class="moveDe">
				<div class="row">
					<div class="column">
						<h4>Brand</h4>
						<h4>Colour</h4>
						<h4>Display type</h4>
						<h4>Style</h4>
						<h4>Special feature</h4>
					</div>
					<div class="column">
						<h4>ITOMA</h4>
						<h4>Rianbow</h4>
						<h4>LED</h4>
						<h4>Modern</h4>
						<h4>Alarm, Adjustable Brightness, Facial Expressions, Adjustable Volume, Colorful LEDs</h4>
					</div>
				</div>
			</div>
			<hr class="thicker-hr">
			<ul class="circle">
				<li>FUN & ADORABLE DESIGN - Addo has numerous features <br>that come in fun and adorable design that your child will love.</li>
				<li>BLUETOOTH MUSIC PLAYER- It’s not just an alarm clock, it can also be a Bluetooth music player.<br> Simple paring with smart phone, iPad, PC and all Bluetooth enabled devices, play music or audio book as a normal music player.</li>
				<li>FUN & COLORFUL LEDs - Addo comes with fun and colorful LEDs in its ears and around its face. Not only are the LEDs fun to<br> play with, but it also helps your young child who cannot read time yet to tell whether it is<br> bedtime, play time or awake time as different colors of LEDs will glow to signal different times.</li>
				<li>ALARM SOUND/MUSIC MACHINE SOUND IN WHITE NOISE, LULLABIES OR BUZZER - Addo features various sleep sound options to soothe your<br>child to sleep. It can also be used for timed activities for your child as such naps, time-outs or play times.</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$15.95</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 3-5 days</h3>
				</div>
				<div class="prop3">
                    <input type="hidden" name="Item" value="64765adf3a5026dba72cf573">
                    <button class="butcart">Add to Cart<i class="fa fa-shopping-cart"></i></button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
