{% extends "layout.html" %}

{% block title %}The "Instant Excuse" Button{% endblock %}
{% block content %}
	<h3>The "Instant Excuse" Button</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://kamami.pl/39469-home_default/big-round-push-button-a-large-round-button-with-led-backlight-100mm-red.jpg" alt="ex 1" onmouseover="changeImage(event, 'https://kamami.pl/39469-home_default/big-round-push-button-a-large-round-button-with-led-backlight-100mm-red.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://kamami.pl/39469-home_default/big-round-push-button-a-large-round-button-with-led-backlight-100mm-red.jpg" alt="excuse">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$5.99</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<hr class="thicker-hr">
			<ul class="circle">
				<li>I'm not feeling well</li>
				<li>Family emergency</li>
				<li>Traffic jam</li>
				<li>Power outage</li>
				<li>Internet issues</li>
				<li>Personal conflict</li>
				<li>Overloaded schedule</li>
				<li>Needing personal time</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$5.99</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 1-2 days</h3>
				</div>
				<div class="prop3">
					<button class="butcart">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
