{% extends "layout.html" %}

{% block title %}Giant Googly Eyes{% endblock %}
{% block content %}
	<h3>Giant Googly Eyes</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 1" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 2" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 3" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 4" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 5" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 6" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 7" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 8" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 9" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eye 10" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://m.media-amazon.com/images/I/41W+hGFFGnL.jpg" alt="eyes">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$6.99</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$6.99</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 2-3 days</h3>
				</div>
				<div class="prop3">
                    <input type="hidden" name="Item" value="6463dc6463891d24ea758768">
                    <button class="butcart">Add to Cart<i class="fa fa-shopping-cart"></i></button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
