{% extends "layout.html" %}

{% block title %}Fish Slippers{% endblock %}
{% block content %}
	<h3>Fish Slippers - OOOO Stinky Toe</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
		  <img id="thumbnail1" class="thumbnail" src="https://m.media-amazon.com/images/I/814wCc4XY5L._AC_UY575_.jpg" alt="Fish Slippers" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/814wCc4XY5L._AC_UY575_.jpg')">
		  <img id="thumbnail2" class="thumbnail" src="https://i.redd.it/jfmzn14qgod51.jpg" alt="fish 2" onmouseover="changeImage(event, 'https://i.redd.it/jfmzn14qgod51.jpg')">
		</div>
		<div class="product-gallery">
		  <div class="main-image">
			<div class="zoom">
			  <div class="image-container">
				<img id="product-image" src="https://m.media-amazon.com/images/I/814wCc4XY5L._AC_UY575_.jpg" alt="fish main">
				<p id="image-caption">Roll over image to zoom in</p>
			  </div>
			</div>
		  </div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$23.01</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<hr class="thicker-hr">
			<h3>Size:</h3>
			<button type="button" class="btn btn-outline-primary" id="myButton1">Big</button>
			<button type="button" class="btn btn-outline-primary" id="myButton2">Medium</button>
			<button type="button" class="btn btn-outline-primary" id="myButton3">Small</button>

			<hr class="thicker-hr">
			<ul class="circle">
				<li>STINKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK<br>KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK<br>
				KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
				</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$23.01</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 3-5 days</h3>
				</div>
				<div class="prop3">
					<button class="butcart">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
