{% extends "layout.html" %}

{% block title %}Fork{% endblock %}
{% block content %}
	<h3>Electric twirling fork - No mess!</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://sc04.alicdn.com/kf/H87587cb9f0e7434b954f0d7fa6be7bcdD.jpg" alt="fork 1" onmouseover="changeImage(event, 'https://sc04.alicdn.com/kf/H87587cb9f0e7434b954f0d7fa6be7bcdD.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://sc04.alicdn.com/kf/HTB1DzoadEWF3KVjSZPhq6xclXXag.jpg" alt="fork 2" onmouseover="changeImage(event, 'https://sc04.alicdn.com/kf/HTB1DzoadEWF3KVjSZPhq6xclXXag.jpg')">
			<img id="thumbnail3" class="thumbnail" src="https://m.media-amazon.com/images/I/41PNpyI0h9L.jpg" alt="fork 3" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/41PNpyI0h9L.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://sc04.alicdn.com/kf/H87587cb9f0e7434b954f0d7fa6be7bcdD.jpg" alt="FORK">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$10.99</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<hr class="thicker-hr">
			<h3>Size:</h3>
			<button type="button" class="btn btn-outline-primary" id="myButton1">small</button>
			<button type="button" class="btn btn-outline-primary" id="myButton2">medium</button>
			<button type="button" class="btn btn-outline-primary" id="myButton3">big</button>

			<hr class="thicker-hr">
			<ul class="circle">
				<li>Crafted from high-quality materials for a comfortable grip</li>
				<li>A remarkable culinary gadget designed to revolutionize the way we enjoy our meals</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$10.99</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 3-4 days</h3>
				</div>
				<div class="prop3">
                    <input type="hidden" name="Item" value="6462a110ad4676a9ee5036fe">
                    <button class="butcart">Add to Cart<i class="fa fa-shopping-cart"></i></button>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
