{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<p id="fdesc"> Welcome to Amazone Fusion! We are a premium Amazone service that offers free, expedited shipping on all orders. To sign up, enter the information below.</p>
<br><br>
<p id="fdesc"> The service costs $30 a month and be cancelled anytime.</p>
<br><br>
<form action="/fusiondone" method="POST" id="fdesc">
	<b><label for="ccn">Credit Card Number:</label>
	<br>
	<input id="ccn" type="tel" size="1" inputmode="tel" maxlength="4" placeholder="xxxx" required>
	<input id="ccn" type="tel" size="1" inputmode="tel" maxlength="4" placeholder="xxxx" required>
	<input id="ccn" type="tel" size="1" inputmode="tel" maxlength="4" placeholder="xxxx" required>
	<input id="ccn" type="tel" size="1" inputmode="tel" maxlength="4" placeholder="xxxx" required>
	<br>
	<label for="ed">Expiration Date:</label>
	<br>
	<input id="ed" type="tel" size="1" inputmode="numeric" maxlength="2" placeholder="xx" required>
	<input id="ed" type="tel" size="1" inputmode="numeric" maxlength="2" placeholder="xx" required>
	<br>
	<label for="ccv"> <b>CVV Number:</label>
	<br>
	<input id="ccv" size="1" type="tel" inputmode="numeric" maxlength="3" placeholder="xxx" required> </b>
	<br>
	<b>First Name:</b>
	<br>
	<input type="tel" inputmode="numeric" placeholder="Walter" required>
	<br>
	<b>Last Name:</b>
	<br>
	<input type="tel" inputmode="numeric" placeholder="White" required>
	<br>
	<br>
<input type="submit" value="Join Today!"/>

</p>
{% endblock %}