{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<form method = "POST" action="info2">
    <b><label for="ccn">Credit Card Number:</label>
	<input id="ccn" type="tel" inputmode="numeric" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" required>
	<br>
	<label for="ed">Expiration Date:&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 </label>
	<input id="ed" type="tel" inputmode="numeric" maxlength="5" placeholder="xx/xx" required>
	<br>
	<label for="ccv"> <b>CVV Number:&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 </label>
	<input id="ccv" type="tel" inputmode="numeric" maxlength="3" placeholder="xxx" required> </b>
	<br>	
    <input type="submit" value="Submit">
   </form>
	

{% endblock %}
