{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<form action = "complete" method = "POST">
    <b>Country: </b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 
	<input type="tel" inputmode="numeric" placeholder="United States" required>
	<br>
	<b>First Name:</b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205
	<input type="tel" inputmode="numeric" placeholder="Walter" required>
	<br>
	<b>Last Name:</b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205
	<input type="tel" inputmode="numeric" placeholder="White" required>
	<br>
	<b>Street Address:</b>&#8205 &#8205
	<input type="tel" inputmode="numeric" placeholder="308 Negra Arroyo Lane" required>
	<br>
	<b>City:</b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205
	<input type="tel" inputmode="numeric" placeholder="Albuquerque" required>
	<br>
	<b>State:</b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205
	<input type="tel" inputmode="numeric" maxlength="2" placeholder="NM" required>
	<br>
	<b>Zip Code:</b>&#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205 &#8205
	<input type="tel" inputmode="numeric" placeholder="87104" required>
	<br>
    <input type="submit" value="Submit">
   </form>
	

{% endblock %}