{% extends "layout.html" %}

{% block title %}Slippers{% endblock %}
{% block content %}
	<h3>Squeaky Slippers</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://cdn.shopify.com/s/files/1/0342/7431/2325/products/christmas-story-bunny-slippers-1-1000-web_1000x.jpg" alt="squeak 1" onmouseover="changeImage(event, 'https://cdn.shopify.com/s/files/1/0342/7431/2325/products/christmas-story-bunny-slippers-1-1000-web_1000x.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/6115PPKwDWL.jpg" alt="bug 2" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/6115PPKwDWL.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://cdn.shopify.com/s/files/1/0342/7431/2325/products/christmas-story-bunny-slippers-1-1000-web_1000x.jpg" alt="bunnie">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$9.99</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<hr class="thicker-hr">
			<h3>Size:</h3>
			<button type="button" class="btn btn-outline-primary" id="myButton1">Big</button>
			<button type="button" class="btn btn-outline-primary" id="myButton2">Medium</button>
			<button type="button" class="btn btn-outline-primary" id="myButton3">Small</button>

			<hr class="thicker-hr">
			<ul class="circle">
				<li>Why did the aSqueaky Slippers put on bunny ears? Because they wanted to hop into everyone's hearts!</li>
				<li>What did the cat say when it discovered a bird? 'Meow-sa!</li>
				<li>Why don't cats play poker in the wild? Too many cheetahs!</li>
				<li>What do you call a group of musical felines? A purr-chestra!</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$9.99</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 3-7 days</h3>
				</div>
				<div class="prop3">
                    <input type="hidden" name="Item" value="6463dbdb63891d24ea758766">
                    <button class="butcart">Add to Cart<i class="fa fa-shopping-cart"></i></button>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
