{% extends "layout.html" %}

{% block title %}Wi-Fi-connected smart toaster{% endblock %}
{% block content %}
	<h3>Wi-Fi-connected smart toaster - Revolution R180B Touchscreen Toaster with Patented<br> InstaGLO® Technology – Matte Black/Chrome, plus Panini Mode</h3>
<div class="rowSub">
	<div class="thumbnail-images">
		<img id="thumbnail1" class="thumbnail" src="https://m.media-amazon.com/images/I/71D4Fe7PVLL._AC_SL1500_.jpg" alt="toast 1" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71D4Fe7PVLL._AC_SL1500_.jpg')">
		<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/81t-0OLfnVL._AC_SL1500_.jpg" alt="toast 2" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/81t-0OLfnVL._AC_SL1500_.jpg')">
		<img id="thumbnail3" class="thumbnail" src="https://m.media-amazon.com/images/I/71B8flsSCCL._AC_SL1500_.jpg" alt="toast 3" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71B8flsSCCL._AC_SL1500_.jpg')">
		<img id="thumbnail4" class="thumbnail" src="https://m.media-amazon.com/images/I/71q7gYLv3RL._AC_SL1500_.jpg" alt="toast 4" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71q7gYLv3RL._AC_SL1500_.jpg')">
	</div>
	<div class="product-gallery">
		<div class="main-image">
			<div class="zoom">
				<div class="image-container">
					<img id="product-image" src="https://m.media-amazon.com/images/I/71D4Fe7PVLL._AC_SL1500_.jpg" alt="non-stick glue stick">
					<p id="image-caption">Roll over image to zoom in</p>
				</div>
			</div>
		</div>
	</div>
	<div>
		<hr class="thicker-hr">
		<h4>Price:
		<span id="priceColor">$349.55</span>
		Get Fast, Free Shipping with
		<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
		<span class="popup" onclick="myFunction()">
		<span id="free">FREE Returns</span>
		<span class="arrow"></span>
		<span class="popuptext" id="myPopup">
			Free returns are available for the shipping address you chose.
			You can return the item for any reason in new and unused condition: no shipping charges
		</span>
		</span>
		</h4>
		<hr class="thicker-hr">
		<ul class="circle">
			<li>FASTER – Patented InstaGLO technology reaches full glow in seconds, unlike conventional toasters, significantly reducing your wait time. <br>The R180B also has an on-screen countdown timer and a happy finishing chime when your toast is ready.</li>
			<li>SMARTER – Smart settings with internal sensors adjust toast time on the fly. Auto-lower-and-lift adjusts to the height of bread you select, so smaller foods don't get stuck.<br>Crumb tray reminder alerts when you when it’s time to clean. And so much more.</li>
			<li>TASTIER – InstaGLO crisps the outside without drying the inside, delivering the perfect crunch while leaving the inside tender and full of flavor.<br> Intelligent algorithms adjust for optimal time, temp and placement of heat (different on the top and bottom of bread) for remarkable taste.</li>
			<li>PERFECT TOAST IN 3 EASY TAPS – Select from 7 food types (Bread, Bagel, Large Bagel, English Muffin, Waffle, Toaster Pastry, and Panini Mode),<br> choose fresh / frozen / reheat, then pick from 7 toastiness levels for the perfect shade. No more guessing games or double toasting.</li>
			<li>NEW! PANINI MODE – The R180B includes a new mode for our Panini Press accessory.<br> Use it to make melty sandwiches and quesadillas fast, easy and with less cleanup. (Panini Press accessory sold separately)</li>
		</ul>
		<!--add support small buisiness -->
	</div>
	<div class="moveBox">
		<div class="box">
			<h2 class="price">$349.55</h2>
			<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
			<div class="prop2">
				<h3>Available to ship in 3-4 days</h3>
			</div>
			<div class="prop3">
                    <input type="hidden" name="Item" value="6463da87c0b3d1b9cfa0c996">
                    <button class="butcart">Add to Cart<i class="fa fa-shopping-cart"></i></button>
				</div>
		</div>
	</div>
</div>
{% endblock %}
