{% extends "layout.html" %}

{% block title %}electric wine bottle opener with LED light show{% endblock %}
{% block content %}
	<h3>Ivation Wine Gift Set, Includes Stainless Steel Electric Wine Bottle Opener, Wine Aerator, Electric Vacuum Wine Preserver, 2 Bottle Stoppers, Foil Cutter & LED Charging Base</h3>
	<div class="rowSub">
		<div class="thumbnail-images">
			<img id="thumbnail1" class="thumbnail" src="https://images.thdstatic.com/productImages/fde3e9e0-1ba8-4d1f-bc2e-cba03cb63d82/svn/ivation-cocktail-sets-ivawineset05-64_1000.jpg" alt="wine 1" onmouseover="changeImage(event, 'https://images.thdstatic.com/productImages/fde3e9e0-1ba8-4d1f-bc2e-cba03cb63d82/svn/ivation-cocktail-sets-ivawineset05-64_1000.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/81qFQtg+JjL._AC_SX569_.jpg" alt="wine 2" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/81qFQtg+JjL._AC_SX569_.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/71pvS9+5BBL._AC_SX569_.jpg" alt="wine 3" onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71pvS9+5BBL._AC_SX569_.jpg')">
			<img id="thumbnail2" class="thumbnail" src="https://m.media-amazon.com/images/I/71KKABKFhSL._AC_SX569_.jpg" alt="wine 4 " onmouseover="changeImage(event, 'https://m.media-amazon.com/images/I/71KKABKFhSL._AC_SX569_.jpg')">
		</div>
		<div class="product-gallery">
			<div class="main-image">
				<div class="zoom">
					<div class="image-container">
						<img id="product-image" src="https://images.thdstatic.com/productImages/fde3e9e0-1ba8-4d1f-bc2e-cba03cb63d82/svn/ivation-cocktail-sets-ivawineset05-64_1000.jpg" alt="wine">
						<p id="image-caption">Roll over image to zoom in</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="thicker-hr">
			<h4>Price:
			<span id="priceColor">$49.95</span>
			Get Fast, Free Shipping with
			<a id="hyperFusion1" href="/Fusion">Amazone Fusion</a>
			<span class="popup" onclick="myFunction()">
			<span id="free">FREE Returns</span>
			<span class="arrow"></span>
			<span class="popuptext" id="myPopup">
				Free returns are available for the shipping address you chose.
				You can return the item for any reason in new and unused condition: no shipping charges
			</span>
			</span>
			</h4>
			<div class="moveDe">
				<div class="row">
					<div class="column">
						<h4>Material</h4>
						<h4>Color</h4>
						<h4>Finish Type</h4>
						<h4>Brand</h4>
						<h4>Item Weight</h4>
						<h4>Is Customizable</h4>
					</div>
					<div class="column">
						<h4>Plastic</h4>
						<h4>Color Stainless Steel</h4>
						<h4>Stainless Steel</h4>
						<h4>Ivasion</h4>
						<h4>985 Grams</h4>
						<h4>No</h4>
					</div>
				</div>
			</div>
			
			<hr class="thicker-hr">
			<ul class="circle">
				<li>ALL-IN-ONE DELUXE WINE GIFT SET – Wine Lover’s Collection Arrives With Everything You Need to Enhance, Preserve, Pour & <br>Enjoy Your Favorite Red or White Variety</li>
				<li>ELECTRIC CORKSCREW EXTRACTOR – Stainless Steel Touch-Button Opener Removes Up to 30 Corks on a Full Charge;<br> See-Through Window for Easy Viewing</li>
				<li>VACUUM PRESERVER & STOPPERS – Electric Wine Pump Extends Wine’s Freshness by Removing Air<br> From Open Bottle & Sealing w/Special Date-Stamped Stoppers</li>
				<li>AERATOR & FOIL CUTTER – Complete Set Features Premium Aerator for Enhanced Flavor & Pour Precision; Razor Sharp<br> Cutting Accessory for Foil Removal</li>
			</ul>
		</div>
		<div class="moveBox">
			<div class="box">
				<h2 class="price">$49.95</h2>
				<div class="prop">
					<h3>Get <span class="bold">Fast, Free Shipping </span>with<span><a id="hyperFusion2" href="/Fusion">Amazone Fusion</a></span></h3>
				</div>
				<div class="prop2">
					<h3>Available to ship in 3-5 days</h3>
				</div>
				<div class="prop3">
					<button class="butcart">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
